@import "tailwindcss";

:root {
  --background: rgba(254, 241, 188, 1); /* Soft pastel yellow */
  --foreground: rgba(130, 89, 82, 1);  /* Earthy text color */
  --button: rgba(175, 204, 226, 1);    /* Pastel blue for buttons */
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] font-sans antialiased;
  font-family: 'Concert One', sans-serif;
}

input {
  @apply border-[var(--foreground)] bg-transparent px-3 py-2 rounded-md focus:outline-none;
  border-width: 1px;
  font-family: 'Concert One', sans-serif;
}

button {
  background-color: var(--button);
  @apply text-[var(--foreground)] font-bold uppercase px-4 py-2 rounded-md;
  font-family: 'Concert One', sans-serif;
  border: none;
}

h1 {
  font-family: 'Playwrite México Guides', serif;
}

h2, p {
  font-family: 'Concert One', sans-serif;
}

.no-shadow {
  box-shadow: none !important;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

